.implode {
    position: absolute;
    bottom: @corner-padding;
    right: @corner-padding;
    z-index: 1;

    background-color: white;
    border: none;
    border-radius: 50%;
    height: 55.5px;
    width: 55.5px;
}

.animated .implode {
    animation: scale 0.5s forwards;
}


@keyframes scale {
    0% { transform: scale(0,0); }
    100% { transform: scale(1.1, 1.1); }
}